* {
  box-sizing: border-box;
}

body{
  font-size: "Merriweather", serif;
  background-color: #d5e3fa;
}

.container{
  background-color: white;
  width: 700px;
  margin: 40px auto;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #0000003d;
}

.heading-primary{
  color: #190482;
  font-size: 28px;
}

.heading-secondary{
  color: #7752FE;
  font-size: 24px;
}


.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.colorful{
  color: #7752FE;
  font-weight: bold;
}

.text-message{
  font-size: 18px;
  line-height: 1.3;
  padding: 15px;
}

.link-about-me{
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #7752FE;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #0000003d;
}

.link-about-me:hover{
  background-color: #190482;
  transition: ease-in-out 0.3s;
}

.list-inline {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 50px;
}

.list-inline li{
  list-style-type: none;
}

.fa-brands{
  color: #190482;
}

.fa-brands:hover{
  color: #7752FE;
  transition: ease-in-out 0.3s;
}

/* Media queries */
@media (max-width: 960px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
  }
  .heading-primary{
    font-size: 24px;
  }

  .heading-secondary{
    color: #7752FE;
    font-size: 20px;
  }


  .profile-picture{
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .text-message{
    font-size: 14px;
  }

  .list-inline {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
  }

  .text-message{
    font-size: 12px;
  }

  .link-about-me{
    font-size: 12px;
}
}

@media (max-width: 400px) {
  .container {
    width: 300px;
  }
}
